html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

 @font-face { font-family: BebasNeue; src: url('BebasNeue.otf'); } 

.navbar {
	background-color: grey;
	width: 100%;
	height: 40px;
	background-image: url(images/navbar_hover.png);
	float: left;
}

.navbarac {
	background-color: grey;
	width: 50%;
	height: 40px;
	background-color: grey;
	background-image: url(images/navbar_hover.png);
	float: left;
}

.topcontent_background{
	background-image: url(images/superlightbricks.png);
	width: 100%;
	height: 490px;
	z-index: 0;
	overflow: hidden;
	position: relative;
}


.bottomcontent_background{
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(images/superlightbricks.png);
}

.sched{
	background-color: white;
	width: 100%;
	height: auto;
	overflow: auto;
}

.footerbackground{
	background-color: grey;
	background-image: url(images/superlightbricks.png);
	width: 100%;
	height: 100px;
}

.content_box{
	height: inherit;
	width: 80%;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	float:left;
}

.mainbackground{
	position: absolute;
	z-index: -100;
	top: 0;
	left: 50%;
	margin-left: -800px;
}

.stream{
	padding: 50px 0;
	height: auto;
	overflow: auto;
}

.streamerbox{
	background-color: #303030;
	padding: 10px 0;
	border: thin solid #404040;
	min-height: 62px;
	margin-bottom: 10px;
	width: 49%;
	float: left;
	margin-left: 6px;
}

.streamingspaces{
	width: 1%;
}

.streamer-logo {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 10px;
}

.streamer-text {
	display: block;
	float: left;
	margin-left: 10px;
	height: 60px;
	overflow-y: hidden;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.streamer-streamer {
	display: inline-block;
	font-weight: bold;
	color: white;
}
    
.streamer-title {
	display: inline-block;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	text-transform:uppercase;
}

li {
    float: left;
	border-left: 1px solid gray;
}

a {
    display: block;
    width: 120px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	font-weight: bold;
}

a{
	text-decoration: inherit;
	color: inherit;
}

li:hover{
	background-image: url(images/navbar.png);
	color: #009CED;
}

.button {
  background: #808080;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
}

.button:hover {
  background: #454545;
  text-decoration: none;
  color: white;
}

.button:active {
  background: #808080;
  text-decoration: none;
}

.schedcont{
	padding-top: 20px;
	padding-bottom: 20px;
}

table.tableizer-table {
	border-collapse:collapse;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
	border-bottom:1px solid #C0C0C0;
	padding:5px;
}

.tableizer-table th {
	border-bottom:1px solid #C0C0C0;
	padding:5px;
	background: white;
	
}